# Ignore node_modules inside smaller repo
**/node_modules/

# Ignore .serverless inside smaller repo
**/.serverless/

# Other files
**/.DS_Store
**/*.log
**/.env
**/.idea/
**/.vscode/
**/coverage/
**/dist/
**/build/
**/npm-debug.log